{include file="header.html"}
<style>
    .adminstatus { cursor:pointer;} 
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">用户提币列表&nbsp;&nbsp;<small>changeWithdrawList</small></h2>
    </div>
    <div style="clear:both"></div>
    <form name="form1" class="form-inline" method="post" action="">
        <div class="form-group">
            <label for="u_id" class="input-group">用户ID</label>
            <div class="input-group">
                <input id="u_id" class="form-control datetimepicker" name="u_id" value="{$searchArr.u_id}">
            </div>
        </div>
        <div class="form-group">
            <label for="u_phone" class="input-group">手机号</label>
            <div class="input-group">
                <input id="u_phone" class="form-control datetimepicker" name="u_phone" value="{$searchArr.u_phone}">
            </div>
        </div>
        <div class="form-group">
            <label for="currency_name" class="input-group">币种简称</label>
            <div class="input-group">
                <input id="currency_name" class="form-control datetimepicker" name="currency_name" value="{$searchArr.currency_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="input-group">开始时间</label>
            <div class="input-group">
                <input id="start_time" class="form-control datetimepicker" name="start_time" value="{$searchArr.start_time}" readonly>
                <span class="input-group-addon "><div  class="glyphicon glyphicon-calendar"></div></span>
            </div>
        </div>
        <div class="form-group">
            <label class="input-group">结束时间</label>
            <div class="input-group">
                <input id="end_time" class="form-control datetimepicker" name="end_time" value="{$searchArr.end_time}" readonly>
                <span class="input-group-addon "><div  class="glyphicon glyphicon-calendar"></div></span>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="input-group">兑换状态</label>
            <div class="input-group">
                <select class="form-control datetimepicker" id="status" name="status">
                    <option value="" {if $searchArr.status=="" && $searchArr.status!="0"} selected {/if}>请选择</option>
                    <option value="1" {if $searchArr.status=="1" && $searchArr.status!=""} selected {/if}>已发币</option>
                    <option value="0" {if $searchArr.status=="0" && $searchArr.status!=""} selected {/if}>未发币</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" name="submit" value="筛选">
        </div>
        <div class="form-group">
            <a href="?c=currency_change&a=clearSearch&searchKey=userChangeList" class="btn btn-success">清空</a>
        </div>
    </form>
    <br/>
    <div style="clear:both"></div>
    <button class="btn btn-danger btn-xs  batch-confirm">批量确认</button>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">
        <!-- start 已上线 -->
        <div class="table-responsive tab-pane fade in active" id="no2">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" class="batch-id"></th>
                    <th colspan="1" rowspan="1">兑换ID</th>
                    <th class="col-sm-1">用户ID</th>
                    <th class="col-sm-1">手机号</th>
                    <th class="col-sm-1">币种简称</th>
                    <th class="col-sm-1">花费BNF</th>
                    <th >兑换数量</th>
                    <th >兑换状态</th>
                    <th >提币时间</th>
                    <th >钱包地址</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {if $userstatementsmsg}
                {foreach $userstatementsmsg as $key=>$item}
                <tr>
                    <td>
                        {if $item.status ==0}
                        <input type="checkbox" name="checkbox_id" class="batch-id-list" value="{$item.id}">
                        {/if}
                    </td>
                    <td>{$item.id}</td>
                    <td>{$item.u_id}</td>
                    <td>{$item.phone}</td>
                    <td>{$item.currency_name}</td>
                    <td>{$item.cost_nbh}</td>
                    <td>{$item.currency_num}</td>
                    <td>{if $item.status ==1} 已发币{else} 未发币{/if}</td>
                    <td>{$item.create_time}</td>
                    <td style="word-wrap:break-word;word-break:break-all;">{$item.wallet_addr}</td>
                    <td>
                        {if $item.status ==0 }
                        <a href="javascript:void(0);"  class="btn btn-danger btn-xs start" pid="{$item.id}">确认发币</a>
                        {else}
                        <a href="javascript:void(0);"  class="btn btn-success btn-xs" disabled="disabled" >已发币</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
                {/if}
                </tbody>
            </table>
        </div>
    </div>
    <div >{if isset($total_num)} <span style="font-size: 25px;">总计{$total_num}条{/if}</span></div>
    <div>{if isset($page_num)}{$page_num}{/if}</div>
</div>
{include file="footer.html"}
<script type="text/javascript">
    $(".start").on("click",function(){
        var id=$(this).attr('pid');
        var msg=$(this).html();
        if(msg=='确认发币'){
            msg='币已经打到用户的钱包了';
        }
        if(confirm('你确定'+msg+"吗？")){
            window.location.href="?c=currency_change&a=upCurrencyStatus&id="+id;
        }
    });
    //全选 反选
    $(".batch-id").on("click",function(){
        var _this = $(this);
        if(_this.attr("checked"))
        {
            _this.attr("checked",false);
            $(".batch-id-list").prop("checked",false);

        }else
        {
            _this.attr("checked",true);
            $(".batch-id-list").prop("checked",true);
        }
    });

    //批量确认发币
    $(".batch-confirm").on("click",function () {
        var _this = $(this),arr=[],idlist='';
        $(".batch-id-list:checked").each(function(){
            arr.push($(this).val());
        });

        idlist = arr.join(',');
        if(idlist == '')
        {
            layer.alert('请选择要确认的发币的记录');
            return false;
        }

        layer.confirm('是否批量确认？确认后不可撤销！', {
            btn: ['确认', '取消'] //可以无限个按钮
        }, function (index, layero) {
            $.ajax({
                url:'?c=currency_change&a=batch_confirm_currency',
                type:'post',
                data:{
                    idlist:idlist
                },
                dataType:'json',
                success:function(re)
                {
                    layer.alert(re.message,function(){
                        window.location.reload();
                    });
                    return false;
                }
            })
        }, function (index,layero) {
            layer.close(index);
        });
    });
</script>
