<script>
    $("#start_time").datetimepicker({
        language:'zh-CN',
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose:true,
        todayBtn:true,
        todayHighlight:true,
        keyboardNavigation:false
    });
    $("#end_time").datetimepicker({
        language:'zh-CN',
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose:true,
        todayBtn:true,
        todayHighlight:true,
        keyboardNavigation:false
    });
    $("#begin_time").datetimepicker({
        language:'zh-CN',
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose:true,
        todayBtn:true,
        todayHighlight:true,
        keyboardNavigation:false
    });
    $(window).load(function () {
        $('.sp-wrap').smoothproducts();
    });
    //定位特效
    $(document).ready(function() {
        var now = $(".on").parent().show();
        //console.log(now);

     } );
</script>
</div>
</div>
</body>
</html>

