{include file="header.html"}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="top-title">
        <h2 class="sub-header">增加APP闪屏广告</h2>
        <div class="top-tools">
            <a class="btn btn-default" href="?c=cms_ad">返回</a>
        </div>
    </div>
    <div id="myTabContent" class="tab-content" style="margin-top:10px">
        <div class="tab-pane fade in active" id="no2">

            <form class="form-horizontal"   method="post" id="form01">


                <div class="form-group">
                    <label  class="col-sm-2 control-label">广告标题：</span></label>
                    <div class="col-sm-6">
                        <input type="text" name="title" value="" class="form-control" placeholder="广告标题" >
                    </div>
                </div>
                <div class="form-group" id="url_hide">
                    <label  class="col-sm-2 control-label">跳转路径：</span></label>
                    <div class="col-sm-6">
                        <input type="text" name="urllink" value="" class="form-control" placeholder="例如:https/http://www.baidu.com">
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">开始时间：</span><i>*</i></label>
                    <div class="col-sm-6">
                        <input type="text" name="start_time" value="" class="form-control" placeholder="开始时间" id="startTime">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">结束时间：</span><i>*</i></label>
                    <div class="col-sm-6" id="datetimepicker">
                        <input type="text" name="end_time" value="" class="form-control" placeholder="结束时间" id="endTime">
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">闪屏广告图片：</span><i>*</i></label>
                    <div class="col-sm-6">
                        <input type="hidden" name="medias_id" value="">
                        <div id="file-upload-pre" ><img width="200px" height="150px"></div>
                        <!--<input type="text" class="form-control" name="credit_logo_url" size="60" id="form-credit-logo-url" readonly> (jpg/png)&nbsp;&nbsp;--><span id="form-logo-container"></span>&nbsp;&nbsp;<input type="button" class="btn btn-success" id="form-input-upload-logo-select" value="选择图片" />&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-warning" id="form-input-upload-logo-button" value="确认上传" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="name_span">状态</span><i>*</i></label>
                    <label class="radio-inline">
                        <input type="radio" name="status" id="status_no" value="2" checked> 禁用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" id="status_yes" value="1"> 启用
                    </label>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label"><span class="name_span">是否需要登陆：</span><i>*</i></label>
                    <label class="radio-inline">
                        <select name="is_login" id="location_page" >
                            <option value ="0">否</option>
                            <option value ="1">是</option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-sm-7">
                        <button type="button" class="btn btn-primary add_company pull-right" id="submit">提交</button>
                    </div>

                </div>


            </form>

        </div>

    </div>
    <hr/>


</div>



<script>
    $("#startTime").datetimepicker({ language:'zh-CN',format: 'yyyy-mm-dd hh:ii:ss',autoclose:true, minView: "month" });
    $("#endTime").datetimepicker({ language:'zh-CN',format: 'yyyy-mm-dd hh:ii:ss', autoclose:true , minView: "month"});
    var file_url =  window.location.pathname;
    var uploaderLogo = new plupload.Uploader({
        runtimes : 'html5,flash,silverlight,html4',
        browse_button : 'form-input-upload-logo-select', // you can pass an id...
        url : file_url+'?c=upload&a=upload_url&n=' + Math.random(),
        flash_swf_url : 'admin/js/Moxie.cdn.swf',
        silverlight_xap_url : 'admin/js/Moxie.cdn.xap',

        filters : {
            max_file_size : '10mb',
            mime_types : [ //只允许上传图片和zip文件
                { title : "Image files", extensions : "jpg,png" }
            ]
        },
        init: {
            PostInit: function() {
                $(":input[name=medias_id]").val('');
                document.getElementById('form-input-upload-logo-button').onclick = function() {
                    uploaderLogo.start();
                    return false;
                };
            },
            FileUploaded: function (uploader,file,responseObject){
                try{
                    var data = JSON.parse(responseObject.response);
                    $("#file-upload-pre").html('<img width="200px" height="150px" src="'+ data.url+ '" />')
                    console.log(data);
                    $(":input[name=medias_id]").val(data.url);
                    //$(":input[name=credit_logo_url]").val(data['data']['err_msg']['filename']['url']);
                    //$("#form-logo-container").find('a').attr('href',data['data']['err_msg']['filename']['url']);
                }catch (e){
                    $("#form-logo-container").html('');
                    throwExc('上传失败请稍后重试...');
                    return ;
                }
            },
            FilesAdded: function(up, files) {
                var file =files.pop();
                $("#file-upload-pre").html( file.name);
            }
        }
    });
    uploaderLogo.init();

</script>
<script>
    function load(){
        window.location.href = '?c=cms_startup&a=index';
    }
    function checkUrl(urlString){
        if(urlString!=""){
            var reg=/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?/;
            if(!reg.test(urlString)){
                return false;
            }else{
                return true;
            }
        }
    }
    $(function () {

        //跳转任务列表显示隐藏
        $("#jump_list").click(function () {
            var jump_list = $(this).val();
            if(jump_list == 'task_list' || jump_list == 'exchange' || jump_list == 'invitation' || jump_list == 'article' || jump_list == 'circle')
            {
                $("#url_hide").hide();

            }
            if(jump_list == 'article' || jump_list == 'circle')
            {
                $("#ac_id").show();

            }else{
                $("#ac_id").hide();
            }



        });

        //提交表单
        $("#submit").click(function () {


        var medias_id=$('input[name=medias_id]').val();
        var url = $('input[name=urllink]').val();
        var title = $('input[name=title]').val();
        var start_time = $('input[name=start_time]').val();
        var end_time = $('input[name=end_time]').val();
        var ac_id = $('input[name=ac_id]').val();



//        if($.trim(url)==''){
//            throwExc('跳转路径必须填写');
//            return false;
//        }else{
//            if(!checkUrl(url)){
//                    throwExc('不是正确的网址吧，请注意检查一下');
//                    return false;
//                }
//        }
//
//            if($.trim(title)==''){
//                throwExc('标题必须填写');
//                return false;
//            }

        // 定时时间
        if($.trim(start_time)==''){
            throwExc('开始时间必须填写');
            return false;
        }
        if($.trim(end_time)==''){
            throwExc('结束时间必须填写');
            return false;
        }
        var start = new Date(start_time.replace("-", "/").replace("-", "/"));
        var end = new Date(end_time.replace("-", "/").replace("-", "/"));
        if(end<start){
            throwExc('结束时间必须大于开始时间');
            return false;
        }

        if($.trim(medias_id)==''){
            throwExc('图片必须填写');
            return false;
        }
            $.ajax({
                "url": "?c=cms_startup&a=add",
                'type': 'POST',
                'data': $('#form01').serialize(),
                'dataType': 'json',
                'success': function (data) {
                    console.log(data)
                    if (data.error != 0) {
                        layer.alert(data.message);
                        setTimeout("load()",1000)
                    }
                    else {
                        layer.alert(data.message);
                        return false;
                    }
                }

            });

        });

    });
</script>
{include file="footer.html"}